<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ropa+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/carrinho.css">
    <title>Opa Dog e Burguer</title>
</head>

<body>

    <header>
        <%-include ('./partials/header') %>
    </header>

    <main>

        <section class="banner">
            <img class="style-image" src="/img/meuCarrinho.jpg" alt="">
            <p class="style-title">Meu Carrinho</p>
        </section>

        <section class="container">


            <div id="carrinho">
                <% carrinho.forEach(function(produto){ %>
                  <div class='produto'>
                      <p>
                        <img src='<%=produto.foto%>' width='50%' />
                      </p>
                      <p><%=produto.nome%></p>
                      <p><%=produto.valor%></p>
                      <p><b>Quantidade:</b><%=produto.quantidade%></p>
                      <p><button onclick="remover({id: <%=produto.id%>, quantidade:1, nome:'<%=produto.nome%>', valor:<%=produto.valor%>})">Excluir</button></p>
                <% }) %>
              </div>
              <%- include('partials/carrinho') %>
              <script src='/js/exibirCarrinho.js'></script>
            <!-- <div>
                <div>
                    <img src="./img/burguer01.jpg" alt="Hamburguer">
                </div>
                <div>
                    <h3>X-Burguer</h3>
                    <p>Pãp tradicional, Burguer, Queijo e Maionese</p>
                </div>
                <div>
                    <p> - 1 + </p>
                </div>
            </div>

            <div>
                <h3>Calcular taxa e tempo de entrega</h3>
                <div>
                    <form action="">
                        <label for="">Cep</label>
                        <input type="text">
                        <button type="submit">Calcular</button>
                    </form>
                </div>
                <div>
                    <div>
                        <p>Normal</p>
                        <p>40 Minutos</p>
                    </div>
                    <div>
                        <p>Agendada</p>
                        <p>18:30</p>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <p>1 Produto</p>
                    <p>R$15,00</p>
                </div>
                <div>
                    <p>Taxa de entrega</p>
                    <p>R$2,00</p>
                </div>
                <div>
                    <h3>Total</h3>
                    <h3>R$ 17.00</h3>
                </div>
                <button type="submit">Pagar Agora!</button>
                <p>comprar mais produtos</p>
            </div>

        </section> -->


    </main>

    <footer>

        <%-include ('./partials/footer') %>

    </footer>

</body>

</html>