<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/shared.css">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ropa+Sans&display=swap" rel="stylesheet">
    <title>Opa Dog e Burguer</title>
    <style>

       
        
        .produto img{
             width: 250px;
             height: 250px;

        }
    </style>
</head>

<body>
    <header>
        <%-include ('./partials/header') %>
    </header>
    <main>
        <br><br><br><br><br><br>

        <hr />
          <% produtos.forEach(function(produto){ %>
            <div class='produto'>
                <p><img src='<%=produto.foto%>'  /></p>
                <p><%=produto.nome%></p>
                <p><%=produto.valor%></p>
                <p><button onclick="adicionar({id: <%=produto.id%>, quantidade:1, nome:'<%=produto.nome%>', valor:<%=produto.valor%>, foto:'<%=produto.foto%>'})">Adicionar</button></p>
          <% }) %>
        <%- include('partials/carrinho') %>
        <!-- <section class="banner">
            <img class="style-image" src="/img/foto home.jpg" alt="">
            <p class="style-title">Home</p>
        </section>
        <section>
            <div class="container">
                <div class="tituloPrincipal">
                    <h2>Mais Vendidos</h2>
                </div>
            </div>
        </section>
        <section class="sale">
            <div class="row-box">
                <%- include ('./partials/productOffer', { productImage: "/img/venda1.svg" ,
                    productName: "Hamburguer Duplo" , price: "12,90" }) %>
                    <%- include ('./partials/productOffer', { productImage: "/img/venda2.svg" ,
                        productName: "Hamburguer Duplo" , price: "21,40" }) %>
                        <%- include ('./partials/productOffer', { productImage: "/img/venda3.svg" ,
                            productName: "Hamburguer Duplo" , price: "12" }) %>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="tituloPrincipal">
                    <h2>Novidades</h2>
                </div>
            </div>
        </section>
        <section class="sale">
            <div class="row-box">
                <%- include ('./partials/productOffer', { productImage: "/img/novid1.svg" ,
                    productName: "Hamburguer Duplo" , price: "31,80" }) %>
                    <%- include ('./partials/productOffer', { productImage: "/img/novid2.svg" ,
                        productName: "Hamburguer Duplo" , price: "20,49" }) %>
                        <%- include ('./partials/productOffer', { productImage: "/img/novid3.svg" ,
                            productName: "Hamburguer Duplo" , price: "12" }) %>
            </div>
        </section> -->
    </main>
    <footer>
        <%-include ('./partials/footer') %>
    </footer>

</body>
  <script>
    //     var addCartItem = document.getElementById("addCartItem");
    // addCartItem.onclick = function (itemId) {
    //     const novoItem ={ 
    //         quantidade :
    //     }
    //     var cartItems = localStorage.getItem("cartItems") || []

    //     if(cartItems.find((p)=>p?.id == itemId)){
            
    //     }
    //     var newCartItemsList = [
    //         ...cartItems,
    //         itemId
    //     ]

    //     localStorage.setItem("cartItems", newCartItemsList)
    // }
 
  </script>
</html>