<article>
    <div class="product-offer-container">
        <div>
            <img class="product-offer-image" src=" <%- productIllustration && productIllustration %>" alt="">
        </div>
        <div class="product-offer-details">
            <h3>
                <% if (productName) { %>
                    <%= productName %>
                        <% } %>
            </h3>
            <h3>
                <% if (productPrice) { %>
                    R$ <%= productPrice %>
                        <% } %>
            </h3>
        </div>
        <div class="product-offer-button">
            <button
                onclick="adicionar({id:'<%=productId%>', quantidade:1, nome:'<%=productName%>', valor:'<%=productPrice%>', foto:'<%=productIllustration%>'}); addProductToCartButtonClick()">Adicionar</button>
        </div>
    </div>
</article>